# Environment Variables
NODE_ENV=development
PORT=PORT
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASS=DB_PASS

# Security
BCRYPT_ROUNDS=BCRYPT_ROUNDS
SESSION_SECRET=SESSION_SECRET

# Auto Update
GH_TOKEN=GH_TOKEN
