:root {
  --primary-color: #00bfae;
  --primary-color-dark: #009e90;
  --primary-color-light: #5fffe6;
  --primary-gradient: linear-gradient(90deg, #00bfae 0%, #5fffe6 100%);
  --primary-gradient-dark: linear-gradient(90deg, #009e90 0%, #00bfae 100%);
}
